.about-container {
    padding: 10px;
}

.about-container .first-row {
    display: flex;
}

.about-container .first-row .profile img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;
}


.about-container .first-row .count-list {
    display: flex;
    position: relative;
    top: 85px;
    left: 10%;
    column-gap: 16%;
    height: 50px;
}


.mat-icon {
    color: rgb(40, 126, 212);
    margin-top: 10px;
}

h2 {
    display: flex;
    justify-content: center;
}

.header .mat-icon {
    transform: translate(5px, -5px);
}

.contact div {
    font-size: 16px;
}

.intro {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44%;
    left: 33%;
}

.about-container .first-row {
    display: flex;
    padding-left: 10%;
}


.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px;
}

.skills{
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    box-shadow: 2px 2px 5px white;
    margin: 8px;
}


svg{
    height: 38px;
    color: white;
    width: 70px;
}

.skill-name{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;

}