.project-container {
    padding: 16px;
}


h2 {
    color: white;
    color: white;
    
}

.card {
    max-width: 100%;
    // border: 1px solid black;
    padding: 10px;
    height: 100%;
    background-color: transparent;
    border: transparent;

}

.card-body img {
    width: 44px;
    height: 44px;
    position: relative;

}

.sliding-cards {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.sliding-card {
    width: 100%;
    flex: 0 0 100%;
    transition: transform 0.3s ease-in-out;
}


 .card-body {
    border-radius: 10px;
    background-color: black;
    margin-top: -10px;

    .name {
        position: relative;
        background-color: #202125;
        margin: -18px;
        height: 46px;
        color: white;
        display: flex;
        align-items: center;
        padding: 5px 0 0 33px;
        border-radius: 9px 9px 0px 0px;
    }

}



.slide-button {
    cursor: pointer;
}



img {
    width: 100%;
    height: 400px;
}

h2 {
    display: flex;

    span {
        margin-top: 7px;
        padding-left: 10px;
    }

}


p {
    color: white;
}

h2 {
    color: white;
}

.sliding-card {
  width: 100%;
  flex: 0 0 100%;
  transition: transform 0.3s ease-in-out;
}


  .content {
    padding: 33px;
  
  }
  
  .blue {
    color: rgb(56, 130, 214)
  }
  
  .green {
    color: green;
  }
  
  .inner-content {
    padding-left: 36px;
  }
  
  .inner-func{
    margin: 2%;
  }
  
  .card-content{
    margin-top: 2%;
  }
  
  .datatype , .header {
    color: rgb(219, 91, 112);
  
  }
  
  .values {
  
    color: rgb(10, 184, 88);
  
  }
  
  .function-container {
    color: orange;
    margin-top: 33px;
    letter-spacing: 1px;
  }
  
  .description-content {
    letter-spacing: 0.04rem;
  
    .yellow {
      color: yellow;
    }
  }
  
  
  .comments {
    color: rgb(153, 150, 150);
  }
  
  
  .main-content {
    
    line-height: 33px;
  }
  
  .values::before{
    content: ' "';
    position: relative;
    right: 2px;
  }
  
  .values::after{
    content: '";';
    position: relative;
    margin-right: 10px;
    left: 2px;
  }

  .string-list::before{
    content: '[';
    position: relative;
    right: 2px;
    color: white;
  }
  
  .string-list::after{
    content: ' ] ;';
    position: relative;
    margin-right: 10px;
    left: 2px;
    color: white;
  }
  
  .datatype::after{
    content:'=';
    position: relative;
    margin: 0 10px;
    color: white;
  }
  
  .card-text{
    margin-top: 2%;
  }
  
  .inside-func p{
    margin-top: 2%;
  }

  .functionality-list-container{
    margin:10px 0px 0px 33px ;
  }

  .functionality-list-container .functionality p{
    color: rgb(10, 184, 88);
  }
  

/*Infinite scroll*/

.list li{
    padding: 4px;
    color: black;
    background-color: #a1a1a0;
    border-radius: 20px;
    box-shadow: 0 2px 10px 2px #1b191959;
    white-space: nowrap;
    list-style: none;
}

.data-scroller{
    padding-block: 1rem;
    max-width: 80%;
    overflow: hidden;
    -webkit-mask: linear-gradient(  /*to get blur kind of effect in the height border of a container*/
		90deg,
		transparent 0%,
		#fff 20%,
		#fff 80%,
		transparent 100%
	);
	mask: linear-gradient(
		90deg,
		transparent 0%,
		#fff 20%,
		#fff 80%,
		transparent 100%
	);

	&[data-direction="left"] {
		--scrolling-direction: forwards;
	}

	&[data-direction="right"] {
		--scrolling-direction: reverse;
	}
}

.list-scroll {
	display: flex;
	gap: 1rem;
	width: fit-content;
	animation: scrolling 10s var(--scrolling-direction, forwards) linear infinite;
}

@keyframes scrolling {
	to {
		transform: translateX(calc(-50% - 0.5rem));
	}
}

a{
    color: #3882d6;
}

.linkContainer::before{
    content: '"';
    position: relative;
    right: 2px;
    color: #3882d6;
    font-weight: bold;

  }
  
.linkContainer::after{
  content: '";';
    position: relative;
    margin-right: 10px;
    left: 2px;
    color: #3882d6 ;
    font-weight: bold;

  }


  .project-list-container .project-list p{
    color: rgb(10, 184, 88);
  }

  .project-list::before {
    content: ' { ';
    position: relative;
    right: 2px;
    color: white;
}

.project-list::after {
    content: ' } ,\A';
    white-space: pre; /* Ensures that '\A' is treated as a newline */
    position: relative;
    margin-right: 10px;
    left: 5px;
    color: white;
}


.project-header{
    color: rgb(219, 91, 112);
}

.project{
    margin-left: 50px;
}
  
.project-header::after{
    content: ' : ';
    position: relative;
    margin-right: 10px;
    left: 2px;
    color: white;
    font-weight: bold;

  }

  .project_button_container{
    width: 70%;
    height: 50px;
    background-color: rgba(32, 33, 35, var(--tw-bg-opacity));
    margin: 10px 0px;
    border-radius: 23px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;

    p{
      color: gray;
      margin: 0;
      padding: 0;
    }
  }

  
.project-card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mat_icon_container mat-icon{
  color: #2f2f2f;
  cursor: pointer;
}
.mat_icon_container{
  background-color: #676767;
  border-radius: 25px;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__card-content img{
  width: 50%;
  height: 50%;
}

@media (max-width:700px)
{
p,span{
  font-size: 14px;
}

.content{
    padding: 0px !important;
    padding-top: 33px !important;
}

.category-card {
   padding: 0px !important; 
}

.card{
  margin: 0px !important;
}

.right-content img {
  width: 50% !important;
}

.image__card-content img {
  width: 100%;
  height: 50%;
}

.project_button_container {
  width: 100%;
}
}