<div class="sliding-card">
    <div class="card">
        <div class="card-body">
            <div class="name">Projects</div>
            <div class="content">
                <p class="export-class"><span class="blue">export class</span> <span class="green  main-content">
                    &nbsp;<strong>PracticeMate.IO</strong>
                         </span>&nbsp;<span class="blue">extends</span>&nbsp;<span
                        class="header">Projects
                    </span>&nbsp;<span class="blue">implements</span>&nbsp;<span class="header">Apoorva C
                        E</span>
                    &nbsp;<span class="bracket">&#123;</span> </p>
                <div class="inner-content">
                    <div class="inner-func">
                        <p class="card-content">
                            <span class="variables">project_Name</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string</span>&nbsp;
                            &nbsp;<span class="values  main-content">PracticeMate.io : A real time code editor with a support for video calling built using
                                <strong>SocketIO and WEBRTC</strong></span>&nbsp;
                        </p>
                        <p class="card-content">
                            <span class="variables">frameworks_Used</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string [ ]</span>&nbsp;
                            &nbsp;<span class="values  main-content string-list">
                                SocketIO , NodeJS , ExpressJS ,React , WEBRTC 
                            </span>&nbsp;
                        </p>
                        <p class="card-content">
                            <span
                                class="variables">key_functionality_Of_The_Application</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string [ ]</span>&nbsp;
                            &nbsp;<span class="values  main-content string-list">
                                <div class="functionality-list-container">
                                    <div class="functionality">
                                        <p>Users can interact with one peer in a real time </p>
                                    </div>
                                    <div class="functionality">
                                        <p>Users can code and develop basic web app simultaneously</p>
                                    </div>
                                    <div class="functionality">
                                        <p>Conduct a mock interview , peer coding and learn development</p>
                                    </div>
                                </div>
                            </span>&nbsp;
                        </p>
                        <div class="image__card-content">
                            <img src="../../assets/images/webrtc2.png" alt="real_time_code_editor" width="100%">
                        </div>
                        <p class="card-content">
                            <span class="variables">github_link_for_the_project</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">NavigationLink</span>&nbsp;
                            &nbsp;<span class="linkContainer">
                                <a href="https://github.com/appu57/real_time_Interview_application_webrtc" target="_blank">PracticeMate.io</a>
                            </span>&nbsp;
                        </p>
                        <p class="function-container">setCategoryWiseDescription ( ) :void ;</p>
                    </div>
                </div>
                <p><span class="bracket">&#125;</span></p>
            </div>
        </div>
    </div>
</div>


<div class="sliding-card">
    <div class="card">
        <div class="card-body">
            <div class="name">Projects</div>
            <div class="content">
                <p class="export-class"><span class="blue">export class</span> <span class="green  main-content">
                        &nbsp;<strong>Javascript_Compendium</strong>
                    </span>&nbsp;<span class="blue">extends</span>&nbsp;<span class="header">Projects
                    </span>&nbsp;<span class="blue">implements</span>&nbsp;<span class="header">Apoorva C
                        E</span>
                    &nbsp;<span class="bracket">&#123;</span> </p>
                <div class="inner-content">
                    <div class="inner-func">
                        <p class="card-content">
                            <span class="variables">description</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string</span>&nbsp;
                            &nbsp;<span class="values  main-content"> <strong>The Complete JavaScript:</strong> Beginner
                                to Advanced
                            </span>&nbsp;
                        </p>
                        <p class="card-content">
                            <span class="variables">key_concepts</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string [ ]</span>&nbsp;
                            &nbsp;<span class="values  main-content string-list">
                                EventLoop , Debouncing , Objectprototye , currying , closure , throttle , web worker ,
                                service worker , Cache storage API , Intersection Observer
                            </span>&nbsp;
                        </p>
                        <p class="card-content">
                            <span class="variables">github_link_for_the_project</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">NavigationLink</span>&nbsp;
                            &nbsp;<span class="linkContainer">
                                <a href="https://github.com/appu57?tab=repositories&q=&type=&language=javascript&sort="
                                    target="_blank"> A Complete Javascript Handbook </a>
                            </span>&nbsp;
                        </p>
                        <div class="function-container">
                            <p><span class="function-container">setCategoryWiseDescription
                                    &nbsp;</span>( )<span class="funcName"></span> &nbsp;<span
                                    class="bracket">&#123;</span></p>
                            <div class="scroll-data-container">
                                <div class="data-scroller" data-direction="left">
                                    <div class="list list-scroll">
                                        <li>Event Loop</li>
                                        <li> Debouncing</li>
                                        <li> Object Prototype</li>
                                        <li> Throttle</li>
                                        <li> Event bubbling</li>
                                        <li> Event Capturing </li>
                                        <li> Scopes in JS</li>
                                        <li> Proxy </li>
                                        <li> comparison</li>
                                        <li> defineProperty</li>
                                    </div>
                                </div>
                                <div class="data-scroller" data-direction="right">
                                    <div class="list list-scroll">
                                        <li> Promises</li>
                                        <li> MicroTaskQueue</li>
                                        <li> setTimeOut</li>
                                        <li> setInterval</li>
                                        <li> Array function</li>
                                        <li> Arrow function</li>
                                        <li> this functionality</li>
                                        <li> IIFE </li>
                                        <li> Service Worker</li>
                                        <li> Cache Storage API</li>

                                    </div>
                                </div>
                                <div class="data-scroller" data-direction="left">
                                    <div class="list list-scroll">
                                        <li> Call Bind Apply</li>
                                        <li> Closure</li>
                                        <li> Currying</li>
                                        <li> compose function </li>
                                        <li> destructuring objects</li>
                                        <li> dense and spare </li>
                                        <li> pure functions </li>
                                        <li> Generator function </li>
                                        <li> deep and shallow copy </li>
                                        <li> Event Handler </li>
                                        <li> Web Worker</li>
                                        <li> Intersection Observer</li>
                                    </div>
                                </div>
                                <div class="data-scroller" data-direction="right">
                                    <div class="list list-scroll">
                                        <li> Generator function </li>
                                        <li> deep and shallow copy </li>
                                        <li> Event Handler </li>
                                        <li> stringify </li>
                                        <li> call by value </li>
                                        <li> Prototypal Inheritance</li>
                                        <li> Proxy </li>
                                        <li> comparison</li>
                                        <li> defineProperty</li>
                                    </div>
                                </div>

                            </div>

                            <p><span class="bracket">&#125;</span></p>

                        </div>
                    </div>
                </div>
                <p><span class="bracket">&#125;</span></p>
            </div>
        </div>
    </div>
</div>

<div class="sliding-card">
    <div class="card">
        <div class="project-card-content">

            <div class=" project_button_container" (click)="openContactPage()">
                <p>Click here to view the entire list of projects</p>
                <div class="mat_icon_container">
                    <mat-icon >visibility</mat-icon>

                </div>
                
            </div>
        </div>

    </div>
</div>
