<div class="sliding-card">
    <div class="card">
        <div class="card-body">
            <div class="name">Projects</div>
            <div class="content">
                <p class="export-class"><span class="blue">export class</span> <span class="green  main-content">
                        Real_Time_Chatting_Application </span>&nbsp;<span class="blue">extends</span>&nbsp;<span
                        class="header">Projects
                    </span>&nbsp;<span class="blue">implements</span>&nbsp;<span class="header">Apoorva C
                        E</span>
                    &nbsp;<span class="bracket">&#123;</span> </p>
                <div class="inner-content">
                    <div class="inner-func">
                        <p class="card-title">
                            <span class="variables">project_Name</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string</span>&nbsp;
                            &nbsp;<span class="values  main-content">Real time chatting Application using
                                <strong>SocketIO</strong></span>&nbsp;
                        </p>
                        <p class="card-title">
                            <span class="variables">frameworks_Used</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string [ ]</span>&nbsp;
                            &nbsp;<span class="values  main-content string-list">
                                SocketIO , NodeJS , ExpressJS , MongoDB ,Angular
                            </span>&nbsp;
                        </p>
                        <p class="card-title">
                            <span
                                class="variables">key_functionality_Of_The_Application</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string [ ]</span>&nbsp;
                            &nbsp;<span class="values  main-content string-list">
                                <div class="functionality-list-container">
                                    <div class="functionality">
                                        <p>Users can interact with one another in a real time</p>
                                    </div>
                                    <div class="functionality">
                                        <p>Users are provided with the feature to edit and delete message in real-time
                                        </p>
                                    </div>
                                    <div class="functionality">
                                        <p>Create a group where a user can add multiple users into a specific group</p>
                                    </div>
                                    <div class="functionality">
                                        <p>Users can join a group using the link provided/shared</p>
                                    </div>
                                </div>
                            </span>&nbsp;
                        </p>
                        <p class="card-title">
                            <span class="variables">github_link_for_the_project</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">NavigationLink</span>&nbsp;
                            &nbsp;<span class="linkContainer">
                                <a href="https://github.com/appu57/chatting-application" target="_blank">Real time
                                    chatting application built using SocketIO and MEAN stack</a>
                            </span>&nbsp;
                        </p>
                        <p class="func">setCategoryWiseDescription ( ) :void ;</p>
                    </div>
                </div>
                <p><span class="bracket">&#125;</span></p>
            </div>
        </div>
    </div>
</div>


<div class="sliding-card">
    <div class="card">
        <div class="card-body">
            <div class="name">Projects</div>
            <div class="content">
                <p class="export-class"><span class="blue">export class</span> <span class="green  main-content">
                        Javascript_Compendium </span>&nbsp;<span class="blue">extends</span>&nbsp;<span
                        class="header">Projects
                    </span>&nbsp;<span class="blue">implements</span>&nbsp;<span class="header">Apoorva C
                        E</span>
                    &nbsp;<span class="bracket">&#123;</span> </p>
                <div class="inner-content">
                    <div class="inner-func">
                        <p class="card-title">
                            <span class="variables">description</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string</span>&nbsp;
                            &nbsp;<span class="values  main-content"> <strong>The Complete JavaScript:</strong> Beginner
                                to Advanced
                            </span>&nbsp;
                        </p>
                        <p class="card-title">
                            <span class="variables">key_concepts</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string [ ]</span>&nbsp;
                            &nbsp;<span class="values  main-content string-list">
                                EventLoop , Debouncing , Objectprototye , currying , closure , throttle , web worker ,
                                bubbling , capturing , scopes
                            </span>&nbsp;
                        </p>
                        <p class="card-title">
                            <span class="variables">github_link_for_the_project</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">NavigationLink</span>&nbsp;
                            &nbsp;<span class="linkContainer">
                                <a href="https://github.com/appu57?tab=repositories&q=&type=&language=javascript&sort="
                                    target="_blank"> A Complete Javascript Handbook </a>
                            </span>&nbsp;
                        </p>
                        <div class="func">
                            <p><span class="func">setCategoryWiseDescription
                                    &nbsp;</span>( )<span class="funcName"></span> &nbsp;<span
                                    class="bracket">&#123;</span></p>
                            <div class="scroll-data-container">
                                <div class="data-scroller" data-direction="left">
                                    <div class="list list-scroll">
                                        <li>Event Loop</li>
                                        <li> Debouncing</li>
                                        <li> Object Prototype</li>
                                        <li> Throttle</li>
                                        <li> Event bubbling</li>
                                        <li> Event Capturing </li>
                                        <li> Scopes in JS</li>
                                        <li> Proxy </li>
                                        <li> comparison</li>
                                        <li> defineProperty</li>
                                    </div>
                                </div>
                                <div class="data-scroller" data-direction="right">
                                    <div class="list list-scroll">
                                        <li> Promises</li>
                                        <li> MicroTaskQueue</li>
                                        <li> setTimeOut</li>
                                        <li> setInterval</li>
                                        <li> Array function</li>
                                        <li> Arrow function</li>
                                        <li> this functionality</li>
                                        <li> IIFE </li>

                                    </div>
                                </div>
                                <div class="data-scroller" data-direction="left">
                                    <div class="list list-scroll">
                                        <li> Call Bind Apply</li>
                                        <li> Closure</li>
                                        <li> Currying</li>
                                        <li> compose function </li>
                                        <li> destructuring objects</li>
                                        <li> dense and spare </li>
                                        <li> pure functions </li>
                                        <li> Generator function </li>
                                        <li> deep and shallow copy </li>
                                        <li> Event Handler </li>
                                    </div>
                                </div>
                                <div class="data-scroller" data-direction="right">
                                    <div class="list list-scroll">
                                        <li> Generator function </li>
                                        <li> deep and shallow copy </li>
                                        <li> Event Handler </li>
                                        <li> stringify </li>
                                        <li> call by value </li>
                                        <li> Prototypal Inheritance</li>
                                        <li> Proxy </li>
                                        <li> comparison</li>
                                        <li> defineProperty</li>
                                    </div>
                                </div>

                            </div>

                            <p><span class="bracket">&#125;</span></p>

                        </div>
                    </div>
                </div>
                <p><span class="bracket">&#125;</span></p>
            </div>
        </div>
    </div>
</div>


<div class="sliding-card">
    <div class="card">
        <div class="card-body">
            <div class="name">Projects</div>
            <div class="content">
                <p class="export-class"><span class="blue">export class</span> <span class="green  main-content">
                        PersonalProjects </span>&nbsp;<span class="blue">extends</span>&nbsp;<span
                        class="header">Projects
                    </span>&nbsp;<span class="blue">implements</span>&nbsp;<span class="header">Apoorva C
                        E</span>
                    &nbsp;<span class="bracket">&#123;</span> </p>
                <div class="inner-content">
                    <div class="inner-func">
                        <p class="card-title">
                            <span class="variables">description</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string</span>&nbsp;
                            &nbsp;<span class="values  main-content"> List of personal projects with the respective
                                github link
                            </span>&nbsp;
                        </p>
                        <p class="card-title">
                            <span class="variables">list_of_projects</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string [ ]</span>&nbsp;
                            &nbsp;<span class="values  main-content string-list">
                                <div class="project-list-container">
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content"> <strong>E-Commerce Application
                                                    </strong></span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> MEAN stack </span></p>
                                            <p><span class="project-header">github_link_for_the_project</span> <span
                                                    class="linkContainer">
                                                    <a href="https://github.com/appu57/MEAN-stack-E-commerce-website/tree/master"
                                                        target="_blank"> E-Commerce Application</a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content"> <strong>Weather Application
                                                    </strong></span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> Angular </span></p>
                                            <p><span class="project-header">github_link_for_the_project</span> <span
                                                    class="linkContainer">
                                                    <a href="https://github.com/appu57/WeatherForecast"
                                                        target="_blank"> Weather Application </a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content"><strong>A basic CRON scheduler to send mail
                                                        on Birthdays</strong> </span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> JavaScript </span></p>
                                            <p><span class="project-header">github_link_for_the_project</span> <span
                                                    class="linkContainer">
                                                    <a href="https://github.com/appu57?tab=repositories&q=&type=&language=javascript&sort="
                                                        target="_blank"> CRON JOB </a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content"><strong>Angular Sandbox</strong> </span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> Angular </span></p>
                                            <p><span class="project-header">github_link_for_the_project</span> <span
                                                    class="linkContainer">
                                                    <a href="https://github.com/appu57?tab=repositories&q=&type=&language=javascript&sort="
                                                        target="_blank"> Angular Sandbox </a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content"> <strong>Animations</strong></span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> GSAP </span></p>
                                            <p><span class="project-header">github_link_for_the_project</span> <span
                                                    class="linkContainer">
                                                    <a href="https://github.com/appu57?tab=repositories&q=&type=&language=javascript&sort="
                                                        target="_blank">GSAP</a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                </div>
                            </span>&nbsp;
                        </p>
                        <div class="func">
                            <p><span class="func">setCategoryWiseDescription
                                    &nbsp;</span>( )<span class="funcName"></span> &nbsp;<span
                                    class="bracket">&#123;</span></p>
                            <p><span class="bracket">&#125;</span></p>

                        </div>
                    </div>
                </div>
                <p><span class="bracket">&#125;</span></p>
            </div>
        </div>
    </div>
</div>