.communicate-container{
    width: 100%;
    width: 100%;
    height: 100%;
    background-color: #111010;
    overflow-y: scroll;

    background-color: rgb(51, 50, 50);
}

.communicate-container::-webkit-scrollbar {
    width: 0px; 
}
.white-line
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    padding: 16px;
    width: 900px;

}

img{
    border-radius: 50%;
    height: 33px;
    width: 33px;

}

.intro-name{
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px;
}

.mat-divider{

    border-top-width: 2px;
    border-top-color: rgb(105, 101, 101)
}

.form-content{
    background-image: url(../../assets/images/instagramBackground.png);
    background-repeat: no-repeat;
    height: 100vh;
    margin-left: 8%;
    padding: 15px;
}

.header-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-icon{
    position: relative;
    top: -10px;
    color: white;
}

.image-container{
    padding: 10px;

    p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 16px;
    }

    img{
        width: 70px;
        height:70px;
        position: relative;
        left: 43%;
    }

    h4{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
    }
}

.btn{
    width: 80%;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-actions{
    button{
        background-color: transparent;
        border: transparent;
    }
}

@media (max-width:1700px)
{
    .form-content{
        margin-left: 8%;
    }

    .card{
        border-radius: 20px;
    }
}

@media (max-width:1300px)
{
    .form-content{
        margin-left: 0%;
    }

    .communicate-container{
        width: 100%;
        height: 100%;
        background-color: #333232;
        overflow-y: scroll;
    
    }
}

@media (max-width:900px)
{

    .form-content{
        margin-left: 0%;
    }
    .communicate-container{
        width: 100%;
        height: 100%;
        background-color: #333232;
        overflow-y: scroll;
    
    }
    .card{
        border-radius: 20px;
    }
}

.project_list_container{
    display: flex;
}

.project_list_container img{
    width: 50%;
    height: 50%;
    border-radius: 0;
}

.project_list_container .card{
    background-color: transparent;
    width: 50%;
    height: 100%;
}