<div class="communicate-container container-fluid">
    <div class="white-line">
        <div class="form-container">
            <div class="header-text">
                <div class="header-name">
                    <img src="../../assets/images/about.png"><span class="intro-name">Apoorva CE</span>

                </div>
                <div class="mat-actions">
                    <mat-dialog-actions>
                        <button class="btn" mat-button mat-dialog-close>
                            <mat-icon class="close-icon">close</mat-icon>
                        </button>
                    </mat-dialog-actions>
                </div>
            </div><br>
            <mat-divider></mat-divider>
            <br>
            <div class="project__list">

                <div class="project_list_container" *ngFor="let item of projectLists">
                    <div class="card">
                        <div class="card-title">
                            <p>{{item.title}}</p>
                        </div>
                        <div class="card-content">
                            <p><span> Technology used</span> : {{item.techStack}}</p>
                            <p><span>Description</span> : {{item.description}}</p>
                            <p> <span>Github Code </span>: <a href="{{item.link}} " target="_blank">{{item.title}}</a>
                            </p>
                        </div>

                        <img *ngIf="item.image" [src]="'assets/images/'+item.image"><br>
                    </div>
                </div>

            </div>


        </div>
        <br>

    </div>
</div>