<div class="communicate-container container-fluid">
    <div class="white-line">
        <div class="form-container">
            <div class="header-text">
                <div class="header-name">
                    <img src="../../assets/images/about.png"><span class="intro-name">Apoorva CE</span>

                </div>
                <div class="mat-actions">
                    <mat-dialog-actions>
                        <button class="close-container" mat-dialog-close>
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-dialog-actions>
                </div>
            </div><br>
            <mat-divider></mat-divider>
            <br>
            <div class="project__list">

                <div class="project_list_container" *ngFor="let item of projectLists">
                    <div class="card">
                        <div class="card-title">
                            <p>{{item.title}}</p>
                        </div>
                        <div class="card-content">
                            <p><span> Technology used</span> : {{item.techStack}}</p>
                            <p><span>Description</span> : {{item.description}}</p>
                            <p > <span>Github Code </span>: <a href="{{item.link}} " target="_blank">{{item.title}}</a>
                            </p>
                        </div>

                        <img *ngIf="item.image"[src]="'assets/images/'+item.image"><br>
                    </div>
                </div>
               
            </div>


        </div>
        <br>

    </div>
</div>
<!-- <div class="sliding-card">
    <div class="card">
        <div class="card-body">
            <div class="name">Projects</div>
            <div class="content">
                <p class="export-class"><span class="blue">export class</span> <span
                        class="green  main-content">
                        &nbsp;<strong>Personal_Projects</strong></span>&nbsp;<span
                        class="blue">extends</span>&nbsp;<span class="header">Projects
                    </span>&nbsp;<span class="blue">implements</span>&nbsp;<span class="header">Apoorva C
                        E</span>
                    &nbsp;<span class="bracket">&#123;</span> </p>
                <div class="inner-content">
                    <div class="inner-func">
                        <p class="card-content">
                            <span class="variables">description</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string</span>&nbsp;
                            &nbsp;<span class="values  main-content"> List of personal projects with the
                                respective
                                github link
                            </span>&nbsp;
                        </p>
                        <p class="card-content">
                            <span class="variables">list_of_projects</span>&nbsp;<span>:</span>&nbsp;<span
                                class="datatype">string [ ]</span>&nbsp;
                            &nbsp;<span class="values  main-content string-list">
                                <div class="project-list-container">
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content"> <strong>E-Commerce Application
                                                    </strong></span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> MEAN stack </span></p>
                                            <p><span
                                                    class="project-header">github_link_for_the_project</span>
                                                <span class="linkContainer">
                                                    <a href="https://github.com/appu57/MEAN-stack-E-commerce-website/tree/master"
                                                        target="_blank"> E-Commerce Application</a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content"> <strong>Weather Application
                                                    </strong></span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> Angular </span></p>
                                            <p><span
                                                    class="project-header">github_link_for_the_project</span>
                                                <span class="linkContainer">
                                                    <a href="https://github.com/appu57/WeatherForecast"
                                                        target="_blank">
                                                        Weather Application </a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content"><strong>A basic CRON scheduler
                                                        to send mail
                                                        on Birthdays</strong> </span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> JavaScript </span></p>
                                            <p><span
                                                    class="project-header">github_link_for_the_project</span>
                                                <span class="linkContainer">
                                                    <a href="https://github.com/appu57?tab=repositories&q=&type=&language=javascript&sort="
                                                        target="_blank"> CRON JOB </a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content"><strong>Angular Sandbox</strong>
                                                </span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> Angular </span></p>
                                            <p><span
                                                    class="project-header">github_link_for_the_project</span>
                                                <span class="linkContainer">
                                                    <a href="https://github.com/appu57?tab=repositories&q=&type=&language=javascript&sort="
                                                        target="_blank"> Angular Sandbox </a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                    <div class="project-list">
                                        <div class="project">
                                            <p><span class="project-header">project_Name</span> <span
                                                    class="project-content">
                                                    <strong>Animations</strong></span></p>
                                            <p><span class="project-header">tech_stack</span> <span
                                                    class="project-content"> GSAP </span></p>
                                            <p><span
                                                    class="project-header">github_link_for_the_project</span>
                                                <span class="linkContainer">
                                                    <a href="https://github.com/appu57?tab=repositories&q=GSAP&type=&language=&sort="
                                                        target="_blank">GSAP</a>
                                                </span>&nbsp;</p>

                                        </div>
                                    </div>
                                </div>
                            </span>&nbsp;
                        </p>
                        <div class="function-container">
                            <p><span class="function-container">setCategoryWiseDescription
                                    &nbsp;</span>( )<span class="funcName"></span> &nbsp;<span
                                    class="bracket">&#123;</span></p>
                            <p><span class="bracket">&#125;</span></p>

                        </div>
                    </div>
                </div>
                <p><span class="bracket">&#125;</span></p>
            </div>
        </div>

    </div>
</div> -->